/*--------------------------------------------------------------------
// Basic Styles
//--------------------------------------------------------------------*/

html, body {
	height: 100%;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42;
    background-color: #fff;
    color: #333;
}
h1, h2, h3, h4, h5 {
	line-height: 1.5em;
	margin: 0;
}
ul, ol, dl {
	line-height: 1.7em;
}

/*
    Sidebar
*/
.sidebar {
    padding-top: 40px;
}
.sidebar h3 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1em;
    margin-bottom: 1em;
}
.sidebar .nav > li > a {
    padding: 0 0 0 1em;
}

/*
    Help Formatting
 */
.page {
    padding-right: 40px;
}
.page > *:first-child { margin: 0 !important; }
.page p, .page blockquote, .page ul, .page ol,
.page dl, .page table, .page pre {
    margin: 15px 0;
}
.page ul ul {
	margin-top: 0;
}
.page p {
    line-height: 1.7;
}
.page h1 {
    font-size: 2.8em;
    padding-bottom: 9px;
    margin: 30px 0 20px;
    border-bottom: 1px solid #eee;
}
.page h2 {
    font-size: 2.2em;
    border-bottom: 1px solid #eee;
    margin: 1.5em 0 15px;
    padding: 0;
    font-weight: bold;
    line-height: 1.7;
}
.page h3 {
    font-size: 1.5em;
    margin: 1em 0 15px;
    padding: 0;
    font-weight: bold;
    line-height: 1.7;
    cursor: text;
    position: relative;
}
tt {
    background: #f8f8f8;
    border: 1px solid #ddd;
    overflow: auto;
    padding: 0px 5px;
    border-radius: 3px;
}

.page table {
    width: 100%;
    overflow: auto;
    display: block;
    border-collapse: collapse;
    border-spacing: 2px;
    border: 1px solid #ccc;
}
.page tr {
    border-top: 1px solid #ccc;
}
.page table th, .page table td {
    border: 1px solid #ddd;
    padding: 6px 13px;
    font-size: 15px;
    line-height: 1.7
}
.page table th { font-weight: bold; }
.page table tr:nth-child(2n) {
    background-color: #f8f8f8
}

code,
pre {
  padding: 0 3px 2px;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 12px;
  color: #333333;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
code {
  padding: 2px 4px;
  color: #d14;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  white-space: nowrap;
}
pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 20px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
pre.prettyprint {
  margin-bottom: 20px;
}
pre code {
  padding: 0;
  color: inherit;
  white-space: pre;
  white-space: pre-wrap;
  background-color: transparent;
  border: 0;
}
.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll;
}

